<div class=" contact bg-dark">
  <footer class="container">
        <a href="mailto:gisquick@info.org">
          <i
            data-scroll-anim="scaleUpIn,scaleUpOut"
            class="fa fa-envelope-o fa-2x">
          </i>
          <p>E-mail</p>
        </a>
        <a href="https://www.youtube.com/channel/UCHXyhq_wrEBnGYTRJovxrCg">
          <i
            data-scroll-anim="scaleUpIn,scaleUpOut"
            class="fa fa-youtube fa-2x anim-delay-2">
          </i>
          <p>Youtube</p>
        </a>  
        <a href="https://github.com/gislab-npo/gislab-web">
          <i
            data-scroll-anim="scaleUpIn,scaleUpOut"
            class="fa fa-github fa-2x anim-delay-4">
          </i>
          <p>GitHub</p>
        </a>
  </footer>
</div>
