<div
  id="examples"
  class="page-padding"
  data-scroll-target="#examples">
  <section class="container">
    <h3>Screenshots</h3>
    {% include gis/gallery.html %}
  </section>

</div>

<div>
  <section class="container">
    <h3>Demonstration Projects</h3>
    <div class="pure-g">
      <div class="project-thumbnail pure-u-1 pure-u-md-1-3 l-box">
        <a target="_blank"
          class=""
          href="https://52.57.100.149/?PROJECT=user1/natural-earth/central-europe">
          <h4>Central Europe</h4>
          <img class="pure-img-responsive shadow" src="img/gis/sample_01.png">
        </a>
        <ul class="is-left">
          <li>OpenStreetMap as base layer</li>
          <li>EPSG:3857 projection</li>
        </ul>
      </div>
      <div class="project-thumbnail pure-u-1 pure-u-md-1-3 l-box">

        <a target="_blank"
          href="https://52.57.100.149/?PROJECT=user1/prague/prague">
          <h4>Prague</h4>
          <img class="pure-img-responsive shadow" src="img/gis/sample_02.png">
        </a>
        <ul>
          <li>SVG point symbols</li>
          <li>WMS Orthophoto map</li>
          <li>EPSG:5514 projection</li>
        </ul>

      </div>
      <div class="project-thumbnail pure-u-1 pure-u-md-1-3 l-box">
        <a target="_blank"
          href="https://52.57.100.149/?PROJECT=user2/uster/uster">
          <h4>Uster</h4>
          <img class="pure-img-responsive shadow" src="img/gis/sample_03.png">
        </a>
        <ul>
          <li>Raster overlay</li>
          <li>Print template with grid lines</li>
          <li>EPSG:21781 projection</li>
        </ul>
      </div>
    </div>
  </section>

</div>
