<div
  id="features"
  class="page-padding bg-light"
  data-scroll-target="#features">
  <section class="container pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 b-pad md-r-pad flex-column">
      <h3 data-scroll-anim="fromRightIn,fromRightOut">Suited to Anyone</h3>
      <p data-scroll-anim="fromLeftIn,fromLeftOut">
        Everything you need for creating maps in Gisquick is located at one place - on the side panel. It offers ready to use layer compilations (topics) suitable for basic users and well arranged layers (base and overlay layers linking up with attribute data tables and layer metadata) for users who are used to working with common GIS.
        <em class="call-to-action">Use Gisquick to more effective work with your end users.</em>
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-3 is-center">
      <img class="pure-img-responsive r-shadow" src="img/gis/content_detail.svg">
    </div>
  </section>

  <br />
  <br />
  <section class="container pure-g flex-center">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5 b-pad is-center">
      <h3 data-scroll-anim="fromBottomIn,fromBottomOut">Linked to Tables</h3>
      <p data-scroll-anim="fromBottomIn,fromBottomOut">
        Working with data tables is very intuitive and quick. Gisquick combines map and table view on your datasets. You can enjoy map features (panning, zooming, navigating or geolocating) and features of database table (searching, filtering across big data tables or zooming and highlighting objects from table on the map) together in one application and at the same time.
        <em class="call-to-action">Use this opportunity for better comfort at work with GIS.</em>
      </p>
    </div>
    <div class="pure-u-1">
      <img
        class="pure-img-responsive r-shadow"
        src="img/gis/table_detail.svg">
    </div>
  </section>


  <section class="container pure-g flex-center">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5 b-pad is-center">
      <h3 data-scroll-anim="fromBottomIn,fromBottomOut">Predictable Print</h3>
      <p data-scroll-anim="fromBottomIn,fromBottomOut">
        Gisquick web client uses innovative print tool with advanced layout preview. Map will be automatically scaled to display whole page in selected zoom level, regardless of screen resolution. You can create a custom print templates in QGIS desktop and use them in Gisquick web application.
        <em class="call-to-action">Try Gisquick print tool in our sample projects.</em>
      </p>
    </div>
    <div class="pure-u-1">
      <img
        class="pure-img-responsive l-shadow"
        src="img/gis/print_detail.svg">
    </div>
  </section>


  <section class="container pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 b-pad md-r-pad flex-column">
      <h3 data-scroll-anim="fromLeftIn,fromLeftOut">Automatic Tile Caching</h3>
      <p data-scroll-anim="fromRightIn,fromRightOut">
        Gisquick server support server-side map tiles caching without any additional configuration. You can simply enable it for your projects with less often changing geometry data and achieve better performance and faster access to your maps.
        <em class="call-to-action">Improve server performance without the effort.</em>
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-3 l-box">
      <img
        class="pure-img-responsive"
        src="img/gis/tiles.svg">
    </div>
  </section>
</div>