
<div class="pure-g thumbnails flex-column">
  <div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Main panel</label>
        <svg
          data-gallery-index="0"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/01.svg');">
        </svg>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Data tables</label>
        <svg
          data-gallery-index="2"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/03.svg');">
        </svg>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Print</label>
        <svg
          data-gallery-index="4"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/05.svg');">
        </svg>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Identification</label>
        <svg
          data-gallery-index="6"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/08.svg');">
        </svg>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Measure</label>
        <svg
          data-gallery-index="7"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/07.svg');">
        </svg>
      </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-3 l-box thumbnail">
      <div class="inner-content">
        <label>Mobile</label>
        <svg
          data-gallery-index="8"
          width="500" height="283"
          class="pure-img-responsive shadow"
          style="background-image: url('img/gis/screenshots/09.svg');">
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="hidden">
  <div class="gallery-images swiper-wrapper">

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/01.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Topics</h3>
            <p>
              Gisquick offers ready to use Topics (specialized layer compilations), which are suitable for basic users without any experiences with GIS. Topics are accessed from the Main panel.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/02.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Layers</h3>
            <p>
              Gisquick also offers well arranged layers (base and overlay layers linking up with attribute data tables and layer metadata) for users who are used to working with common GIS.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/03.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Tables</h3>
            <p>
              Attribute table tool allows to display data attributes of any layer with enabled WFS service. You can also display and zoom-to geometry of selected object in the table.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/04.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Filters</h3>
            <p>
              Attribute table allows to filter displayed objects by visible screen area, or by logical conditions, which can be specified for any column in the table.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/05.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Print preview</h3>
            <p>
              Print preview shows you a page layout with appearance very close to the final print output. Map will be printed at the same position, angle and zoom level that you set.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/06.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Print panel</h3>
            <p>
              Print tool with opened panel. It allows you to configure print output (format, resolution), select page layout, or enter text labels (if defined in selected layout).
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/08.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Identification</h3>
            <p>When you want view attribute values for a feature, use the identify tool that can be accessed from the Tools menu.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/07.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Measurement</h3>
            <p>
              Measure tool allows you to measure point coordinates, distances and areas.
              Measure panel has also options to select measure units, zoom to measured object, and it may contain some secondary measurements (not displayed on the map).
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-zoom-container l-box">
        <img src="img/gis/screenshots/09.svg">
        <div
          data-animate="fadeInRight"
          class="image-panel">
          <div class="scroller">
            <h3 class="header">Mobile</h3>
            <p>
              Application running on mobile device with Android OS. It offers the same features as web application on regular desktop, but use more compact layout and has additional account settings and projects manager.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
