<head>

    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GISQUICK</title>

    <link rel="stylesheet" href="css/pure-min.css" type="text/css">
    <link rel="stylesheet" href="css/grids-responsive-min.css" type="text/css">
    
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->

    <link rel="stylesheet" href="css/swiper.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/gis.css">

</head>
