<header xdata-scroll="" xdata-scroll-showCallback="sectionEntered('#header')"
  data-scroll-target="#header">
  <div class="header-content">
    <div class="header-content-inner xswiper-no-swiping">
      <h1>Let’s share GIS much quicker</h1>
      <hr>
      <p>Gisquick is an open source geospatial data publishing platform. We have developed it for rapid sharing of our projects created with QGIS. We put together minimal set of functions for useful generic web mapping application. We created it for ourselves as well as for you. Let’s use it and share our great GIS outputs with others easily and much quicker.</p>
    </div>
  </div>
  <a data-link="#benefits" href="#" class="btn btn-primary btn-xl more">
    Learn more
  </a>
</header>
