<div id="menu" class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <div class="container">
      <a class="home-link" href="#">
        <img class="logo" src="img/gis/logo.svg">
      </a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item hidden" data-link="#header">
        <li class="pure-menu-item" data-link="#benefits">Benefits
        <li class="pure-menu-item" data-link="#features">Features
        <li class="pure-menu-item" data-link="#examples">Examples
        <li class="pure-menu-item" data-link="#development">Development
      </ul>

      <!-- <a href="#" class="custom-toggle" id="toggle">
        <s class="bar"></s><s class="bar"></s>
      </a> -->
      <a href="#" class="menu-link" id="toggle">
        <span></span>
      </a>

    </div>
</div>
