<div
  id="development"
  class="people page-padding bg-light"
  data-scroll-target="#development">
  <section class="container" style="position:relative;">
    <h3>The People Behind</h3>
    <div class="swiper-container flex content">
      <div class="swiper-wrapper">

        <div class="swiper-slide flex-column is-center l-box">
          <div class="card shadow">
            <div class="header">
              <div class="avatar">
                <!-- <i class="fa fa-user"></i> -->
                <img src="img/gis/people/marcel.jpeg">
              </div>
            </div>
            <div class="content">
              <p class="title">Marcel Dancák</p>
              <p class="subtitle">Open source developer</p>
              <div class="is-left">
                <p><b>Skills: </b>Python, JavaScript, HTML5, Django</p>
                <p><b>Contributions: </b>Gisplan, GIS.lab, QGIS</p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide flex-column is-center l-box">
          <div class="card shadow">
            <div class="header">
              <div class="avatar">
                <img src="img/gis/people/martin.jpeg">
              </div>
            </div>
            <div class="content">
              <p class="title">Martin Landa</p>
              <p class="subtitle">
                Open Source GIS consultant and instructor,  GRASS GIS expert
              </p>
              <div class="is-left">
                <p><b>Skills: </b>C/C++, Python</p>
                <p>
                  <b>Contributions: </b>
                  GRASS GIS, QGIS, GDAL, GeoPython, PostGIS, GIS.lab, GeoForAll Lab, OSGeo, GISMentors
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide flex-column is-center l-box">
          <div class="card shadow">
            <div class="header">
              <div class="avatar">
                <img src="img/gis/people/jachym.jpeg">
              </div>
            </div>
            <div class="content">
              <p class="title">Jáchym Čepický</p>
              <p class="subtitle">Open source GIS developer and consultant, PyWPS expert</p>
              <div class="is-left">
                <p><b>Skills: </b>Python, JavaScript</p>
                <p>
                  <b>Contributions: </b>
                  PyWPS, GRASS GIS, OpenLayers, GDAL, OWSLib, GeoPython, GIS.lab, OSGeo, GISMentors
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide flex-column is-center l-box">
          <div class="card shadow">
            <div class="header">
              <div class="avatar">
                <img src="img/gis/people/ivan.jpeg">
              </div>
            </div>
            <div class="content">
              <p class="title">Ivan Minčík</p>
              <p class="subtitle">Open source GIS architect and consultant</p>
              <div class="is-left">
                <p><b>Skills: </b>Python, SQL</p>
                <p><b>Contributions: </b>Gisplan, GIS.lab</p>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide flex-column is-center l-box">
          <div class="card shadow">
            <div class="header">
              <div class="avatar">
                <img src="img/gis/people/rasto.jpeg">
              </div>
            </div>
            <div class="content">
              <p class="title">Rastislav Mičaník</p>
              <p class="subtitle">User interface designer</p>
              <div class="is-left">
                <p><b>Contributions: </b>Gisplan, GIS.lab</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="fa fa-chevron-left slide-button-prev"></i>
    <i class="fa fa-chevron-right slide-button-next"></i>
  </section>
</div>
<div class="bg-primary">
  <section class="container pure-g flex-center">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-9-24 b-pad is-center">
      <h3 data-scroll-anim="fromBottomIn,fromBottomOut">Get involved</h3>
      <p data-scroll-anim="fromBottomIn,fromBottomOut">
        More relevant information about Gisquick’s development, including source code, deployment and support for users are published on GitHub.This ambitious open source GIS project has been prepared for further custom development, maybe just according to your requirements. If you are interested in collaboration on this project, please contact us and become our partner.
        <em class="call-to-action">Let’s create Gisquick together.</em>
      </p>
    </div>
      
  </section>

</div>



 

