<div class="overview tabs-swiper flex-column">

  <div class="submenu page-padding">
    <div class="container">
      <ul class="tabs-paginator">

        <li class="tab-item">
          <span>Overview</span>
          <i class="fa fa-comment"></i>
        </li>
        <li class="tab-item">
          <span>Player</span>
          <i class="fa fa-play-circle-o"></i>
        </li>
        <li class="tab-item">
          <span>Editor</span>
          <i class="fa fa-pencil-square-o"></i>
        </li>
        <li class="tab-item">
          <span>Viewer</span>
          <i class="fa fa-newspaper-o"></i>
        </li>

<!--         <li class="tab-item">
          <i class="fa fa-comment"></i>
          <span>Overview</span>
        </li>
        <li class="tab-item">
          <i class="fa fa-play-circle-o"></i>
          <span>Player</span>
        </li>
        <li class="tab-item">
          <i class="fa fa-pencil-square-o"></i>
          <span>Editor</span>
        </li>
        <li class="tab-item">
          <i class="fa fa-newspaper-o"></i>
          <span>Viewer</span>
        </li> -->

<!--         <li class="tab-item">Overview</li>
        <li class="tab-item">Player</li>
        <li class="tab-item">Editor</li>
        <li class="tab-item">Viewer</li> -->
      </ul>
    </div>
  </div>

  <div class="container swiper-container flex content">
    <div class="swiper-wrapper">

      <div class="swiper-slide flex-row md-flex-column">
        <div class="text-block r-pad">
          <h3 data-animate="fadeInRight">Overview</h3>
          <ul data-animate="fadeInUp" class="anim-delay-1">
            <li>Primarily designed for bass players</li>
            <li>Exact counting labels to not get lost in more complex rhythms</li>
            <li>Easy to create drums backing tracks for everyday practising</li>
<!--             <li>Built on HTML 5 and Web Audio API technology. Web version already available, desktop and mobile are possible.</li> -->
            <!-- <li>Built on HTML 5 and Web Audio API</li> -->
            <li>Clean and Intuitive user interface</li>
            <li>Web version already available, desktop and mobile are planned for the future</li>
            <li>More features will be coming</li>
          </ul>
        </div>

        <div class="f-2-3 flex-column l-box">
          <img class="pure-img-responsive r-shadow" src="img/bass/screen.svg">
        </div>
      </div>

      <div class="swiper-slide flex-column">
        <div class="flex-column">
          <h3 data-animate="fadeInRight">Playback</h3>
          <ul data-animate="fadeInLeft" class="anim-delay-1">
            <li>Quality playback of Bass, Drums, Piano</li>
            <!-- <li>Timeline with beats subdivision</li> -->
            <li>Adjustable playback speed</li>
            <li>Functions for selecting playback range</li>
            <li>Instruments mixer</li>
          </ul>
        </div>
        <div class="flex flex-column l-box">
          <img
            class="pure-img-responsive r-shadow"
            src="img/bass/playback.svg">
        </div>
      </div>

      <div class="swiper-slide flex-row md-flex-column">
        <div class="text-block flex-column">
          <h3 data-animate="fadeInRight">Editor</h3>
          <ul data-animate="fadeInUp" class="anim-delay-1">
            <li>Interactive Drag & Drop and resize</li>
            <li>Designed separately for each specific intrument</li>
            <li>Focused on simplicity, but advanced options are also available (slide timing, note bending)</li>
            <!-- <li>Easy to create several versions through playlist editor</li> -->
            <!-- <li>Reuse repetitive sections or create a different compositions through playlist editor</li> -->
            <li>Playlist editor allows quick reuse of repetitive sections or creation of different versions</li>
            <li>Integrated projects manager for local storing of your projects</li>
            <!-- <li>Manage your own projects with integrated projects manager</li> -->
          </ul>
        </div>
        <div class="f-2-3 flex-column l-box">
          <img
            class="pure-img-responsive l-shadow"
            src="img/bass/editor.svg">
        </div>
      </div>

      <div class="swiper-slide flex-row md-flex-column">
        <div class="f-2-3 flex-column l-box">
          <img
            class="pure-img-responsive r-shadow"
            src="img/bass/viewer.svg">
        </div>
        <div class="text-block flex-column">
          <h3 data-animate="fadeInRight">Visualization</h3>
          <ul data-animate="fadeInUp" class="anim-delay-2">
            <li>Very easy to read for the beginners</li>
            <li>Several bass notations to choose from</li>
            <!-- <li>Several bass notations from which to choose</li> -->
            <!-- <li>Multiple layouts and options for automatic scrolling to fit your screen</li> -->
            <li>Adjustable layout and automatic scrolling to fit your screen and reading speed</li>
            <li>Virtual fretboard synchronized with playback and chord information</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <i class="fa fa-chevron-left slide-button-prev"></i>
  <i class="fa fa-chevron-right slide-button-next"></i>
</div>
