<header>
  <div class="header-content">
    <div class="header-content-inner xswiper-no-swiping">
      <!-- <h1>Learn playing on the bass guitar the easy way</h1> -->
      <!-- <h1>Let's play the bass</h1> -->
      <h1>Application for playing, learning and transcribing basslines</h1>
      <hr>
      <!-- <p>Application for playing, learning and transcribing basslines</p> -->
    </div>
  </div>
  <a href="#" data-scroll="1" class="btn btn-primary btn-xl more">
    Read More
  </a>
  <a class="credits" href="https://www.facebook.com/PatriciaAragonFotografia/">
    Photo by <b>Patricia Aragón</b>
  </a>
</header>
