
<div id="menu" class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <div class="container">
      <a class="home-link" href="#" data-scroll="0">
        <img class="logo" src="img/bass/logo.svg">
      </a>

      <ul class="pure-menu-list menu-pagination">
        <li class="pure-menu-item hidden"></li>
        <li class="pure-menu-item">Features</li>
        <li class="pure-menu-item">Screenshots</li>
        <li class="pure-menu-item">Examples</li>
        <li class="pure-menu-item hidden"></li>
        <li class="pure-menu-item">Development</li>
      </ul>

      <a href="#" class="menu-link" id="toggle">
        <span></span>
      </a>

    </div>
</div>
