<div class="container">
    <h2 class="section-heading is-center">At Your Service</h2>
    <hr class="primary">

    <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 service-box">
            <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
            <h3>Sturdy Templates</h3>
            <p class="text-muted">Our templates are updated regularly so they don't break.</p>
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 service-box">
            <i class="fa fa-4x fa-paper-plane wow bounceIn anim-delay-1 text-primary" data-wow-delay=".1s"></i>
            <h3>Ready to Ship</h3>
            <p class="text-muted">You can use this theme as is, or you can make changes!</p>
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 service-box">
            <i class="fa fa-4x fa-newspaper-o wow bounceIn anim-delay-2 text-primary" data-wow-delay=".2s"></i>
            <h3>Up to Date</h3>
            <p class="text-muted">We update dependencies to keep things fresh.</p>
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 service-box">
            <i class="fa fa-4x fa-heart wow bounceIn anim-delay-3 text-primary" data-wow-delay=".3s"></i>
            <h3>Made with Love</h3>
            <p class="text-muted">You have to make your websites with love these days!</p>
        </div>

    </div>
</div>
