<!DOCTYPE html>
<html lang="en">

{% include gis/head.html %}

<body id="page-top">

  {% include gis/menu.html %}

  {% include gis/header.html %}

  {% include gis/benefits.html %}

  {% include gis/features.html %}

  {% include gis/examples.html %}

  {% include gis/people.html %}

  {% include gis/contact.html %}

  {% include swiper-gallery.html %}

  <script src="js/swiper.min.js"></script>
  <script src="js/jump.js"></script>
  <script src="js/noframework.waypoints.min.js"></script>

  <script src="js/gis.js"></script>
</body>

</html>